# Python
*.pyc
*.swp
build
/*.egg-info
dist

# Sphinx
_build

# Tox
.tox
build.out/

# This version file should never be committed
vsg/version_info.*

# IDE files
.idea/
.vscode/

# Ignore external repos used for tests
tests/external_repos/repos
