
env:
  global:
    - CC_TEST_REPORTER_ID=05478298c5451cbc18f01aab36344f7f9327bcb1346d90db96df76321ae1e3f8

# command to install
install:
  - pip install codecov
  - python setup.py install

language:
  - python

python:
  - "3.8"

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

# command to run tests
script:
  - coverage run setup.py test

after_success:
  - codecov

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
