language: python

python:
  - "2.7"

# command to install
install:
  - pip install codecov
  - python setup.py install

# command to run tests
script:
  - coverage run setup.py test

after_success:
  - codecov
