name: Moves newly created issues to the vhdl-style-guide project

on:
  issues:
    types:
      - opened

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@0.3.0
        with:
          project-url: https://github.com/users/jeremiah-c-leary/projects/3
          github-token: ${{ secrets.ADD_TO_PROJECT_WORKFLOW_PAT }}

